html {
  scroll-behavior: smooth;
}


/*   -------------------------------------------------Nav----------------------------------------------------------------------------------------*/
.imgnav {  
  width: 75px;
  height: 45px;
  text-align: top;
  float : right;
}
.imgnav1 {  
  width: 45px;
  height: 25px;
  text-align: left;
  float : left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99;
  float: left;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
  background-color: #cecbcb;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------Titulos----------------------------------------------------------------------------------------*/
.alinhar{
  padding-right:45px;
  padding-left:45px;
}
.titulos p{
  margin-right:100px;
  margin-left:100px;

  
}

/*   -------------------------------------------------Slide----------------------------------------------------------------------------------------*/
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;

}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text123 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*   -------------------------------------------------Apresentação----------------------------------------------------------------------------------------*/
.apresentacao{
  margin-top:3%;
}

.apresentacao .apre{
  width:50%;
text-align:left;
  float:left;
}
.apresentacao.imgapre{
  width:20%;
  float : right;
  
}
.apre p{
  margin-right:100px;
  margin-left:100px;

  
}

.apresentacao .apre1{
  width:50%;
text-align:right;
  float:right;
}
.apresentacao.imgapre1{
  width:20%;
  float : left;
  
}
.apre1 p{
  margin-right:100px;
  margin-left:100px;

  
}
/*   -------------------------------------------------Portfolio----------------------------------------------------------------------------------------*/
 {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/*   -------------------------------------------------Plano Curricular----------------------------------------------------------------------------------------*/

.plano {
  
 font-size: 25px; 
 margin-top:35px;
 padding:0px 0px 0px 50px;
 text-align: center;
 
  
}

.plano1 {
  
  font-size: 20px;
  margin-top:25px;
  margin-left:10px;
}
/*   -------------------------------------------------Condições----------------------------------------------------------------------------------------*/
@font-face {
    font-family: 'ADAM.CG PRO';
    src: url('../fonts/fonte.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  
}

h3 {
  
  font-family:'ADAM.CG PRO';
}
/*   -------------------------------------------------Footer----------------------------------------------------------------------------------------*/
.footer {
   float: right;
   /*  padding-top: 2%;
   padding-left: 100px;*/
   width: 100%;
   background-color: #3C3E3B;
   color: white;
   padding-top: 20px;
   font-size: 15px;

   
  
   
}
.footer_copyright {
   float: left;
   width: 30%;
   margin-bottom: 100px;
    margin-right: 100px;
   height: 28.7vh;
   margin-left:100px;
   background-color: #3C3E3B;
   color: white;
   text-align: center;
   font-size: 10px;
   line-height: 0.3em;
 
   
}




.titulo, .texto{
  
  margin:2%;
}

.contact{
  
  float: right;
  margin-right: 50px;
}

#contact{
  padding-top: 3%;

  
}

.form {
  float: left;
  padding-left: 10px;
  background-color: #3C3E3B;
  color: white;
  margin-left: 10px;
  
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}


.planoCur {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.planoCur {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-out;
}

.saida {
    
    background-color: #FFFFFF
}